<!doctype html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/example.css">
</head>
<body>
<h1>DropBox Sample</h1>

<div>ACCESS TOKEN:</div>
<form action="./" method="post">
<input type="text" name="access_token" />
<input type="submit" name="SUBMIT" value="SUBMIT"/>
</form>
<br/>
<br/>
<a href="https://github.com/dropbox/dropbox-sdk-java#dropbox-for-java-tutorial">Dropbox for java Tutorial</a><br />
<a href="https://www.dropbox.com/developers/apps">Dropbox console</a><br />
<a href="https://blogs.dropbox.com/developers/2014/05/generate-an-access-token-for-your-own-account/">Generate access token</a><br />
</body>
</html>